{% extends "layout/basic.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="red-row"></div>
  <div class="container-fluid main-content">
    <div class="row news-list-nav">
      <div class="col-12">
        <div class="rectangle"></div>
        <h1 class="main-header">LOGIN</h1>
      </div>
    </div>
    <form class="row" method="post">
      {% csrf_token %}
      <div class="col-12">
        {{ form|crispy }}
        <button class="btn-save" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
{% endblock %}
