{% extends "layout/basic.html" %}
{% load static %}

{% block title %}Main{% endblock %}

{% block sctipts %}
  <script src="{% static 'scripts/sort_buttons.js' %}"></script>
{#  <script src="{% static 'scripts/comments_counter.js' %}"></script>#}
{% endblock %}

{% block content %}
  {% if banner %}
    <div class="banner">
      {{ banner.header }}
      {{ banner.sub_header }}
      {{ banner.teaser }}
      <a href="{% url 'main:detail' pk=banner.pk %}">READ MORE</a>
    </div>
  {% endif %}
    <h1>LATEST NEWS</h1>
  {% if news %}
    <div class="sorter">
      <spam>Sort news by: <a class="sort-by-date button-pressed" href="{% url 'main:index' %}">date</a> <a class="sort-by-comments" href="{% url 'main:by_comments' %}">comments</a> </spam>
    </div>
    <div class="news-list">
      {% for n in news %}
        <img src="{{ n.image.url }}">
        <a href="{% url 'main:detail' pk=n.pk %}">{{ n.header }}
        {{ n.sub_header }}
        {{ n.teaser }}
        <a href="{% url 'main:detail' pk=n.pk %}#comment_form">Comments<span class="comments-counter" data-news-id="{{ n.pk }}"></span></a>
      {% endfor %}</a>
    </div>
  {% endif %}
{% endblock %}
