{% extends "layout/basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add news{% endblock %}

{% block sctipts %}
  <script src="{% static 'scripts/check_news_form.js' %}"></script>
{% endblock %}

{% block content %}
  <h1>Add news</h1>
  <form class="news-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {% if request.path_info == '/news/' %}
      <button class="button-save" type="submit" disabled>Save</button>
    {% else %}
      <a href="{% url 'main:delete_news' pk=news.pk %}"><button type="button">Delete</button></a>
      <button class="button-save" type="submit">Save</button>
    {% endif %}
  </form>
{% endblock %}
