{% extends "layout/basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block sctipts %}
  <script src="{% static 'scripts/sort_buttons.js' %}"></script>
  <script src="{% static 'scripts/comments_counter.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="red-row"></div>
  <div class="container-fluid main-content">
    <div class="row news-list-nav">
      <div class="col-12">
        <div class="rectangle"></div>
        <h1 class="main-header">PERSONAL ACCOUNT</h1>
      </div>
    </div>
    <div class="container-fluid registrar-form">
      <form class="reg-form" method="post">
        {% csrf_token %}
        {{ form.consent_with_rules|as_crispy_field }}
       <div class="row">
        <div class="block-one col-7">
          {{ form.first_name|as_crispy_field }}
          {{ form.last_name|as_crispy_field }}
          {{ form.email|as_crispy_field }}
        </div>
        <div class="block-two col-5">
          {{ form.password|as_crispy_field }}
          {{ form.password_confirmation|as_crispy_field }}
          <button class="btn-save" type="submit">SAVE</button>
        </div>
       </div>
      </form>
    </div>
    <div class="container-fluid news-list">
      {% if news %}
        <div class="row news-list-nav">
          <div class="col-6">
            <div class="rectangle"></div>
            <h1 class="main-header">MY NEWS</h1>
          </div>
          <div class="col-6 sorter">
            <a name="news"></a>
            <span>Sort news by:&nbsp;&nbsp;&nbsp; <a class="sort-by-date button-pressed" href="{% url 'main:personal' pk=request.user.pk %}#news">date</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="sort-by-comments" href="{% url 'main:personal_by_comm' pk=request.user.pk %}#news">comments</a> </span>
          </div>
        </div>
        <div class="row news-container">
          {% for n in news %}
            <div class="col-6">
              <article>
                <div class="row">
                  <div class="col-7 news-image">
                    <img src="{{ n.image.url }}" alt="image">
                  </div>
                  <div class="col-5 news-info">
                    <a href="{% url 'main:detail' pk=n.pk %}">
                      <h3>{{ n.header }}</h3>
                      <h4>{{ n.sub_header }}</h4>
                      <p>{{ n.teaser }}</p>
                    </a>
                    <a class="comm" href="{% url 'main:detail' pk=n.pk %}#comment_form"><span class="comments-counter" data-news-id="{{ n.pk }}"></span>&nbsp;Comments</a>
                    <a class="edit-news" href="{% url 'main:edit_news' pk=n.pk %}">Edit news</a>
                  </div>
                </div>
              </article>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
